body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    height: 100px;
    padding: 0px 100px 0px 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #D0D0D0;
}

.header-inner{
    display: flex;
    flex-direction: row;
    max-width: 1250px;
    margin: 0 auto;
    height: 72px;
    padding: 13px 0px 13px 0px;
}

.uk-ru{
    border-left: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    width: 90px;
    height: 40px;
    margin: 17px 0px 0px 30px;
}

.UA{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    color: #1F1F1F;
    text-align: center;
    margin: 0px;
}

.RU{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 2px;
    text-align: center;
    margin: 0px 0px 0px 25px;
    background-color: #4AD295;
    max-width: 40px;
}

.eur{
    border-right: 1px solid #E2E2E2;
    width: 125px;
    height: 40px;
    margin: 17px 0px 0px 0px;
}

.eurtxt{
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 400;
    color: #393939;
    text-align: center;
    margin: 0px;
}

.social{
    border-right: 1px solid #E2E2E2;
    width: 135px;
    height: 40px;
    margin: 17px 0px 0px 0px;
}

.container_social{
    margin: 8px 0px 0px 20px;
}

.socialimg{
    margin: 0px 6px 0px 6px;  
}

.facebook{
    margin: 0px 2px 0px 2px;
}

.telephone{
    border-right: 1px solid #E2E2E2;
    width: 225px;
    height: 40px;
    margin: 17px 0px 0px 0px;
    box-sizing: border-box;
}

.container_telephone{
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 27px;
}

.telephonetxt{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: #393939;
    text-align: center;
    margin: 0px;
}

.telephoneimg{
    margin: 0px 0px 0px 15px;
}

.search{
    width: 520px;
    height: 55px;
    margin: 9px 0px 0px 0px;
    padding: 0px 0px 0px 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

#input1{
    width: 240px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #EFF3F6;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 0px 20px;
    background-image: url(../../img/lesson20/calendar.svg);
    background-repeat: no-repeat;
    background-position-x: 185px;
    margin: 0px 30px 0px 0px;
}

#input2{
    width: 205px;
    height: 55px;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: #EFF3F6;
    border: none;
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 0px 15px;
    background-image: url(../../img/lesson20/search.svg);
    background-repeat: no-repeat;
    background-position-x: 150px;
}

.header_2{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    border-bottom: 1px solid #D0D0D0;
    padding: 0 auto;
}

.ul_menu{
    list-style: none;
    display: flex;
    padding: 25px 0px 0px 0px;
    margin: 0px auto;
    max-width: 1230px;
}

.li_menu{
    padding: 0px 30px 0px 30px;
}

.a_menu{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #616161;
    text-decoration: none;
    padding: 0px 0px 23px 0px;
}

.a_menu:hover{
    border-bottom: 3px solid #DD4053;
    color: #171717;
}

.polygon_menu{
    margin: 0px 0px 3px 8px;
}

.hotels{
    border-bottom: 3px solid #DD4053;
    color: #171717;
}

/* MAIN1 PART1 */

.main1{
    width: 100%;
    height: 3520px;
}

.width-container1-main1-part1{
    width: 1170px;
    height: 1470px;
    margin: 0 auto;
}

.HH1-main1-part1{
    margin: 30px 0px 0px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.HH1-main1-part1r{
    color: #000000;
}

.container1-main1-part1{
    margin: 58px 0px 0px 0px;
    width: 100%;
    height: 370px;
    display: flex;
}

.text1-cont1-main1-part1{
    margin: 0px 0px 0px 108px;
    height: 370px;
    width: 382px;
}

.img1-main1-part1{
    margin: 0px 0px 0px 80px;
}

.data1-main1-part1{
    padding: 62px 0px 0px 0px;
    width: 100%;
    height: 16px;
    display: flex;
}

.hh1-main1-part1{
    margin: 2px 0px 0px 9px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #BBBBBB;
}

.glaz1-main1-part1{
    margin: 0px 0px 0px 50px;
}

.hh2-main1-part1{
    margin: 0px 0px 2px 15px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    color: #BBBBBB;
}

.hh3-main1-part1{
    margin: 16px 0px 0px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 31px;
    line-height: 42px;
    color: #323232;
    max-width: 291px;
}

.hh4-main1-part1{
    margin: 20px 0px 30px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #323232;
}

.podrabnee-main1-part1{
    width: 100%;
    height: 24px;
    display: flex;
}

.hh5-main1-part1{
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    transition: 0.6s ease;
}

.hh5-main1-part1:hover{
    color: #DD4053;
    transition: 0.6s ease;
}

.arrow-red{
    margin: 10px 0px 0px 45px;
    width: 25.5px;
    height: 7.36px;
}

.container2-main1-part1{
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 329px;
    display: flex;
}

.card1-con1t2-main1-part1{
    width: 370px;
    height: 329px;
    background-image: url('../../img/lesson20/blog/card1-img1.png');
    background-repeat: no-repeat;
    margin: 0px 30px 0px 0px;
}

.data2-main1-part1{
    padding: 153px 0px 0px 0px;
    width: 100%;
    height: 16px;
    display: flex;
}

.glaz2-main1-part1{
    margin: 0px 0px 0px 180px;
}

.hh6-main1-part1{
    max-width: 195px;
    margin: 12px 0px 20px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
}

.hh7-main1-part1{
    background-color: #00000059;
    max-width: 167px;
    padding: 3px 13px 3px 15px;
    margin: 25px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.card2-con1t2-main1-part1{
    width: 370px;
    height: 329px;
    background-image: url('../../img/lesson20/blog/card2-img1.png');
    background-repeat: no-repeat;
    margin: 0px 30px 0px 0px;
}

.card3-con1t2-main1-part1{
    width: 370px;
    height: 329px;
    background-image: url('../../img/lesson20/blog/card3-img1.png');
    background-repeat: no-repeat;
    margin: 0px 0px 0px 0px;
}

.hr1-main1-part1{
    margin: 50px 0px 50px 0px;
    border: none;
    background-color: #D0D0D0;
    height: 1px;
}

.container3-main1-part1{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 517px;
    display: flex;
}

.card1-cont3-main1-part1{
    margin: 0px 30px 0px 0px;
    width: 569px;
    height: 517px;
    background-image: url('../../img/lesson20/blog/card4-img1.png');
    background-repeat: no-repeat;
}

.hh8-main1-part1{
    background-color: #00000059;
    max-width: 167px;
    padding: 3px 13px 3px 15px;
    margin: 35px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.data3-main1-part1{
    padding: 288px 0px 0px 0px;
    width: 100%;
    height: 16px;
    display: flex;
}

.glaz3-main1-part1{
    margin: 0px 0px 0px 379px;
}

.hh9-main1-part1{
    margin: 12px 0px 15px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: #323232;
}

.hh10-main1-part1{
    margin: 0px 0px 20px 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #323232;
    max-width: 480px;
}

.card2-cont3-main1-part1{
    width: 570px;
    height: 517px;
    background-image: url('../../img/lesson20/blog/card5-img1.png');
    background-repeat: no-repeat;
}

.width-container1-main1-part3{
    width: 1170px;
    height: 1440px;
    margin: 0 auto;
}

.container1-main1-part2{
    width: 100%;
    height: 580px;
    background-color: #F8F8F8;
}

.width-container1-cont1-main1-part2{
    width: 1330px;
    height: 580px;
    margin: 0 auto;
}

.hh1-main1-part2{
    padding: 90px 0px 0px 0px;
    margin: 0px 0px 0px 80px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 31px;
    line-height: 55px;
    color: #232323;
}

.card-container1-main1-part2{
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 330px;
    display: flex;
}

.arrow1-main1-part2{
    margin: 145px 30px 0px 0px;
    width: 50px;
    height: 50px;
}

.card1-main1-part2{
    border-right: 1px solid #EEEEEE;
    padding:  0px 15px 0px 0px;
    width: 269px;
    height: 330px;
    background-image: url('../../img/lesson20/blog/card6-img1.png');
    background-repeat: no-repeat;
}

.hh2-main1-part2{
    background-color: #00000059;
    max-width: 167px;
    padding: 3px 13px 3px 15px;
    margin: 35px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.data4-main1-part1{
    padding: 133px 0px 0px 0px;
    width: 100%;
    height: 16px;
    display: flex;
}

.hh3-main1-part2{
    margin: 12px 0px 0px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #323232;
    max-width: 195px;
}

.hh4-main1-part2{
    margin: 25px 0px 0px 0px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #232323;
    border-bottom: 1px solid #2C2C2C;
    max-width: 77px;
    transition: 0.6s ease;
}

.hh4-main1-part2:hover{
    color: #DD4053;
    border-bottom: 1px solid #DD4053;
    transition: 0.6s ease;
}

.card2-main1-part2{
    border-right: 1px solid #EEEEEE;
    padding:  0px 15px 0px 0px;
    margin: 0px 0px 0px 15px;
    width: 269px;
    height: 330px;
    background-image: url('../../img/lesson20/blog/card7-img1.png');
    background-repeat: no-repeat;
}

.card3-main1-part2{
    border-right: 1px solid #EEEEEE;
    padding:  0px 15px 0px 0px;
    margin: 0px 0px 0px 15px;
    width: 269px;
    height: 330px;
    background-image: url('../../img/lesson20/blog/card8-img1.png');
    background-repeat: no-repeat;
}

.card4-main1-part2{
    margin: 0px 0px 0px 15px;
    width: 269px;
    height: 330px;
    background-image: url('../../img/lesson20/blog/card9-img1.png');
    background-repeat: no-repeat;
}

.arrow2-main1-part2{
    margin: 145px 0px 0px 31px;
    width: 50px;
    height: 50px;
}

/* PART3 */

.hh1-main1-part3{
    padding: 90px 0px 0px 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 31px;
    line-height: 55px;
    text-transform: uppercase;
    color: #232323;
}

.container1-main1-part3{
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 1166px;
    display: flex;
}

.left-container1-main1-part3{
    display: block;
    margin: 0px 30px 0px 0px;
    width: 870px;
    height: 1166px;
}

.rad1-left-main1-part3{
    width: 100%;
    height: 309px;
    display: flex;
}

.card1-left-main1-part3{
    margin: 0px 30px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left1.png');
    background-repeat: no-repeat;
}

.hh2-main1-part3{
    background-color: #00000059;
    max-width: 84px;
    padding: 3px 16px 3px 15px;
    font-family: 'Open Sans';
    margin: 25px 0px 0px 0px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.glaz4-main1-part1{
    margin: 0px 0px 0px 47px;
}

.card2-left-main1-part3{
    margin: 0px 30px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left2.png');
    background-repeat: no-repeat;
}

.card3-left-main1-part3{
    margin: 0px 0px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left3.png');
    background-repeat: no-repeat;
}

.rad2-left-main1-part3{
    margin: 40px 0px 0px 0px;
    width: 100%;
    height: 309px;
    display: flex;
}

.rad3-left-main1-part3{
    margin: 40px 0px 50px 0px;
    width: 100%;
    height: 309px;
    display: flex;
}

.card1-left1-main1-part3{
    margin: 0px 30px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left4.png');
    background-repeat: no-repeat;
}

.card2-left2-main1-part3{
    margin: 0px 30px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left5.png');
    background-repeat: no-repeat;
}

.card3-left3-main1-part3{
    margin: 0px 0px 0px 0px;
    width: 270px;
    height: 309px;
    background-image: url('../../img/lesson20/blog/card-left6.png');
    background-repeat: no-repeat;
}

.BOLSHE-hh{
    margin: 0 auto;
    padding: 18px 59px 22px 59px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #969696;
    max-width: 152px;
    border: 1px solid #969696;
    border-radius: 2px;
    transition: 0.6s ease;
}

.BOLSHE-hh:hover{
    transition: 0.6s ease;
    color: white;
    background-color: #969696;
}

.numbers1-main1-part3{
    display: flex;
    margin: 28px 0px 0px 0px;
    width: 100%;
    height: 20px;
}

.hh-1-main1-part3{
    margin: 3px 0px 0px 213px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #333333;
}

.hh-2-main1-part3{
    margin: 3px 0px 0px 30px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #969696;
}

.hh-3-main1-part3{
    margin: 0px 0px 0px 50px;
    padding: 2px 27px 3px 8px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #969696;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
}

.hh-4-main1-part3{
    margin: 3px 0px 0px 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #969696;
}

.right-container1-main1-part3{
    width: 270px;
    height: 1166px;
}

.container1-right-main1-part3{
    width: 100%;
    height: 340px;
    border: 1px solid #DDDDDD;
    border-top: 6px solid #DD4053;
    box-sizing: border-box;
}

.hh1-right-main1-part3{
    padding: 7px 105px 7px 20px;
    background-color: #F8F8F8;
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #323232; 
}

.hh2-right-main1-part3{
    padding: 10px 105px 10px 20px;
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #4F4F4F; 
    border-bottom: 1px solid #DDDDDD;
    transition: 0.6s ease;
}

.hh2-right-main1-part3:hover{
    color: #DD4053;
    transition: 0.6s ease;
}

.hh3-right-main1-part3{
    padding: 10px 105px 10px 20px;
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #4F4F4F; 
    transition: 0.6s ease;
}

.hh3-right-main1-part3:hover{
    color: #DD4053;
    transition: 0.6s ease;
}

.container2-right-main1-part3{
    width: 100%;
    height: 364px;
    border: 1px solid #DDDDDD;
    border-top: 6px solid #DD4053;
    box-sizing: border-box;
    background-image: url('../../img/lesson20/blog/card2-right-main1-part3.png');
    background-repeat: no-repeat;
    background-position-y: 38px;
}

.hr1-main1-part3{
    margin: 30px 0px 30px 0px;
    border: none;
    background-color: #C4C4C4;
    height: 1px;
}

.hh4-right-main1-part3{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 10px;
    color: #FFFFFF;
    margin: 15px 0px 0px 0px;
    padding: 6px 8px 6px 15px;
    background-color: #00000059;
    max-width: 120px;
}

.hh5-right-main1-part3{
    margin: 115px 0px 0px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    text-transform: uppercase;
    color: #323232;
}

.hh6-right-main1-part3{
    margin: 0px 0px 0px 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #848484;
    max-width: 199px;
}

.hr2-main1-part3{
    margin: 20px 0px 10px 20px;
    border: none;
    background-color: #E8E8E8;
    height: 1px;
    max-width: 197px;
}

.text-container1-main1-part3{
    width: 100%;
    height: 26px;
    display: flex;
}

.hh7-right-main1-part3{
    margin: 0px 0px 0px 20px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 34px;
    color: #7B7B7B;
}

.price-right{
    margin: 0px 0px 0px 2px;
}

.hh8-right-main1-part3{
    margin: 0px 0px 0px 9px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #7B7B7B;
    text-decoration: line-through;
}

.hh9-right-main1-part3{
    margin: 0px 0px 0px 10px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #DD4053;
}

.hh10-right-main1-part3{
    margin: 0px 0px 0px 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    color: #C9C9C9;
}

.container3-right-main1-part3{
    width: 100%;
    height: 340px;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.hh1-cont3-main1-part3{
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #323232;
}

#input3{
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    background-color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 0px 20px;
    margin: 15px 0px 0px 20px;
}

#input4{
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
    background-color: white;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    padding: 0px 0px 0px 20px;
    margin: 10px 0px 0px 20px;
}

.check-container{
    margin: 24px 0px 0px 0px;
    width: 100%;
    height: 25px;
    display: flex;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
}

.hh2-cont3-main1-part3{
    margin: 3px 0px 0px 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #969696;
}

.noncheck-container{
    margin: 15px 0px 20px 0px;
    width: 100%;
    height: 25px;
    display: flex;
    padding: 0px 0px 0px 20px;
    box-sizing: border-box;
}

.hh3-cont3-main1-part3{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 15px 60px;
    background-color: #DD4053;
    max-width: 110px;
    border-radius: 2px;
}

/* FOOTER */

.footer{
    margin: 0px 0px 0px 0px;
    width: 100%;
    height: 260px;
    background-color: #F8F8F8;
}

.footer-part1{
    padding: 64px 0px 40px 0px;
    width: 1170px;
    height: 86px;
    margin: 0 auto;
    display: flex;
}

.stolbik1-main4-part4{
    width: 106px;
    height: 87px;
    margin: 0px 0px 0px 280px;
}

.ul1-main4-part4{
    padding: 0px;
    list-style: none;
    margin: 0px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #3E3E3E;
}

.li1-main4-part4{
   padding: 1px 0px 2px 0px; 
}

.a-main4-part4{
    color: #3E3E3E;
    transition: 0.6s ease;
}

.a-main4-part4:hover{
    color: black;
    transition: 0.6s ease;
}

.stolbik2-main4-part4{
    width: 100px;
    height: 86px;
    margin: 0px 0px 0px 80px;
}

.a2-main4-part4{
    color: #3E3E3E;
    font-size: 12px;
}

.stolbik3-main4-part4{
    width: 130px;
    height: 86px;
    margin: 0px 0px 0px 84px;
}

.li2-main4-part4{
    padding: 1px 0px 30px 0px;
}

.stolbik4-main4-part4{
    width: 140px;
    height: 86px;
    margin: 0px 0px 0px 98px;
}

.hr1-footer{
    margin: 0 auto;
    border: none;
    background-color: #1D1D1D33;
    height: 1px;
    max-width: 1170px;
}

.text2-container1-main4-part4{
    padding: 26px 0px 0px 0px;
    width: 1170px;
    height: 20px;
    display: flex;
    margin: 0 auto;
}

.hh2-main4-part4{
    margin: 0px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3E3E3E80;
}

.facebook-main4-part4{
    margin: 0px 0px 0px 740px;
}

.instagram-main4-part4{
    margin: 0px 5px 0px 12px;
}

.youtube-main4-part4{
    margin: 0px 0px 0px 12px;
}