body{
    background-color: mintcream;
    color: rgb(19, 18, 18);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    
}

.img1{
    height: 250px;
    width: 250px;
}

.tg{
    color: royalblue;
}

a{
    text-decoration: none;
    font-size: 20px;
}