body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
}

table{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
    height: 500px;
    width: 700px;
}

th{
    border-left: 4px solid rgb(122, 122, 255);
    text-align: left;
    padding-left: 20px;
}

.cl{
    color: red;
}

th:hover{
    border-left: 4px solid green;
}
